.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-bottom: 20px;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    outline-color: #9a84a2;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-button {
    background-color: gray;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.save-button {
    background-color: var(--dark-purple);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cancel-button:hover,
.save-button:hover {
    opacity: 0.9;
}